@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
html,
body {
  font-family: "Share Tech Mono", monospace;
}
* {
  box-sizing: border-box;
}

:root {
  --accentcolor: rgb(255, 169, 0);
}
.fh-100 {
  height: 100vh;
}

.loader-container {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.loader {
  width: 120px;
  height: 20px;
  mask: linear-gradient(90deg, #000 70%, #0000 0) left/20% 100%;
  background: linear-gradient(#000 0 0) left -25% top 0 /20% 100% no-repeat #ddd;
  animation: loaderT7 1s infinite steps(6);
}
@keyframes loaderT7 {
  100% {
    background-position: right -25% top 0;
  }
}

.sidebar {
  width: max-content;
  padding: 0.5%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  left: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar::-webkit-scrollbar {
  width: 2px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: whitesmoke;
}

.community-item {
  display: flex;
  margin-top: 10px;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
}

.community-item span {
  margin-left: 20px;
}

.community-item img {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wallet-button {
  padding: 10px;
  background-color: var(--accentcolor);
  color: black;
  font-family: "Share Tech Mono", monospace;
}

.claim-button {
  padding: 5px;
  background-color: var(--accentcolor);
  color: black;
  font-family: "Share Tech Mono", monospace;
}

.prop-link {
  color: var(--accentcolor);
}

.main {
  margin-left: 420px;
}
.mainfull {
  margin-left: 120px;
}

.sidebar-toggle {
  background-color: transparent;
  border: none;
  align-self: flex-start;
}

.sidebar-toggle span {
  font-size: 37px;
}

table,
tbody,
thead {
  display: block;
}
tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
}

.auction-title {
  font-size: 25px;
  color: var(--accentcolor);
  text-decoration: none;
}
.auction-title span {
  color: var(--accentcolor);
  font-size: 15px;
  margin-left: 5px;
}

.main-header a {
  color: var(--accentcolor);
}

.vote-heading {
  margin-left: 260px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  * {
    color: whitesmoke;
  }
  body {
    background: black;
  }
  .sidebar {
    background-color: rgb(15, 16, 17);
  }
}
