@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

html,
body {
  font-family: "Share Tech Mono", monospace;
  accent-color: var(--accentcolor);
}
* {
  box-sizing: border-box;
}

:root {
  --accentcolor: rgb(255, 169, 0);
  --table-color: rgba(255, 255, 255, 0.171);
}
.fh-100 {
  height: 100vh;
}

.loader-container {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

button {
  font-size: 10px;
  text-decoration: bold;
  background-color: orange;
}

.loader {
  width: 120px;
  height: 20px;
  mask: linear-gradient(90deg, #000 70%, #0000 0) left/20% 100%;
  background: linear-gradient(#000 0 0) left -25% top 0 /20% 100% no-repeat #ddd;
  animation: loaderT7 1s infinite steps(6);
}
@keyframes loaderT7 {
  100% {
    background-position: right -25% top 0;
  }
}

.sidebarhide,
.sidebar {
  /* width: max-content; */
  height: 100%;
  padding: 10px;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  left: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.4s;
}

.sidebar {
  width: 300px;
}
.sidebarhide {
  width: 90px;
}

.sidebarhide::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  width: 1px;
}

.sidebarhide::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
  background: var(--accentcolor);
}

.community-item {
  display: flex;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  text-decoration: none;
}

.community-item:not(:not(.set-active)):hover {
  background: orange;
}

.community-item span {
  margin-left: 15px;
  color: black;
  text-overflow: hidden;
}

.community-item:hover {
  background-color: rgb(255, 169, 0, 0.3);
}

.community-item img {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nft-mint,
.claim-button {
  /* margin-left: 50px;; */
  padding: 10px;
  background-color: var(--accentcolor);
  color: black;
  font-family: "Share Tech Mono", monospace;
  border: none;
  font-size: 15px;
  transition: 0.1s transform;
  cursor: pointer;
}

.claim-button:hover {
  transform: scale(1.1, 1.1);
}

.prop-link {
  color: var(--accentcolor);
  font-size: 20px;
}

.main,
.mainfull {
  transition: 0.4s;
  margin-top: 15px;
  margin-right: 10px;
}
.main {
  margin-left: 300px;
}
.mainfull {
  margin-left: 100px;
}

.sidebar-toggle {
  background-color: transparent;
  border: none;
  align-self: flex-start;
  margin: 10px 15px;
}

.sidebar-toggle span:hover {
  color: var(--accentcolor);
}
.sidebar-toggle span {
  font-size: 30px;
}

table {
  display: block;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}

th {
  vertical-align: inherit;
  padding: 10px;
  text-align: left;
}

tr {
  /* border: solid rgb(236, 236, 236); */
  margin-top: 10px;
}

td {
  white-space: nowrap;
  border: 1px solid var(--table-color);
  text-align: center;
  padding: 5px;
}

.prop-address {
  padding: 0 50px;
}

.auction-title {
  font-size: 25px;
  color: var(--accentcolor);
  text-decoration: none;
}

.main-header a {
  color: var(--accentcolor);
}

.set-active {
  background-color: rgb(255, 169, 0, 0.8);
}

.vote-heading {
  margin-left: 260px;
}

.nft-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: var(--accentcolor) * 0.6;
  backdrop-filter: blur(5px);
}

.nft-modal-container {
  border: 1px solid rgba(245, 245, 245, 0.11);
  width: 400px;
  padding: 25px;
  background-color: whitesmoke;
}

.nft-modal-header {
  display: flex;
  padding: 0px 0 20px 0;
}

hr {
  width: 100%;
  border-width: 0.1px;
}

.close-modal {
  background-color: black;
  border: 1px solid rgba(245, 245, 245, 0.314);
  border-radius: 100%;
  padding: 1% 1% 0.4% 1.2%;
  margin-left: auto;
}
.close-modal span {
  font-size: 12px;
}

.nft-modal-container img {
  width: 100%;
  height: auto;
}
.nft-mint {
  padding: 10px 50px 10px 50px;
  width: 100%;
}



@media only screen and (max-width: 720px) {
  .vote-heading {
    margin-left: 0;
  }
  .main {
    margin-left: 100px;
    color: w;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: whitesmoke;
    background: black;
  }
  .sidebarhide,
  .sidebar {
    background-color: rgb(15, 16, 17);
  }
  .community-item:hover {
    background-color: rgb(255, 169, 0, 0.2);
  }
  .community-item span {
    color: whitesmoke;
  }

  .nft-modal-container {
    background-color: black;
  }

  /* table-color: grey;
  } */
}
